In [18]:
#factorial of numbers
product = 1
x = int(input("Enter your number : "))
for i in range(1,x+1):
    if x==0:
        print("Factorial of 0 is 1")
    else:
        product = product*i
print("The factorial of" ,x ,"is", product)

Enter your number : 8
The factorial of 8 is 40320

In [18]:
7-4*10/5**2+15

20.4

In [6]:
print(10%4)

2

In [8]:
print ('k' *2)

kk

In [13]:
print(13//4)

3

In [15]:
10-25*8//5

-30

In [9]:
t=10
s=0
for i in range(1,5,2):
    s=s+2
    print(s)
while(t>0):
    print(t, end='')
    t=t-1
else:
    print("Loop executed successfully")

2
4
10987654321Loop executed successfully

In [5]:
for a in range (5):
    print('/')

/
/
/
/
/

In [2]:
5%10<10-25*8//5

False

In [3]:
t=10
while t>0:
    print(t,end="")
    t=t-1
else:
    print('k')

10987654321k

In [1]:
#for to while
i=0
while i<3:
    print(i)
    i=i+1
else:
    print("Loop Over")

0
1
2
Loop Over

In [6]:
i = 1
while i<5:
    print(i)
    if i%7==0:
        break
    i =i+1
else:
    print("Loop over")

1
2
3
4
Loop over

In [8]:
for i in range (1,10,3):
    print(i)

1
4
7

In [12]:
#accept number from user and calculate the sum of all nos. from 1 to a given number using while loop
sum = 0
x = int(input("Enter your number : "))
while x>0:
    sum = sum+x
    x = x-1
print("The sum is ", sum)

Enter your number : 2
The sum is  3

Given a list, iterate it, and display numbers divisible by five and if you find a number greater than 150, stop the loop iteration

In [ ]:
x = int(input("Enter a number : "))
s =0
while x>0:
    if x%5==0:
        print(x)
    x=x-1
    if x==150:
        break
        else:
            print("Over")

In [2]:
#Q)write output for the following:
for i in range (3):
        for j in range(4,7):
            print(i ," : " ,j)

0  :  4
0  :  5
0  :  6
1  :  4
1  :  5
1  :  6
2  :  4
2  :  5
2  :  6

In [3]:
for i in range (3):
        for j in range(4,7):
            print(i ,end =" ")

0 0 0 1 1 1 2 2 2

In [5]:
for i in range (3):
        for j in range(4,7):
            print("*",end = " ") #explanation is below

* * * * * * * * *

i    j   print
0    4   *
0    5   *
0    6   *
1    4   *
1    5   *
1    6   *
2    4   *
2    5   *
2    6   *

In [6]:
for i in range (3):
        for j in range(4,7):
            print("*")

*
*
*
*
*
*
*
*
*

In [9]:
for i in range (3):
        for j in range(4,7):
            print("*",end = " ")
        print(end="  ")

* * *   * * *   * * *

In [10]:
for i in range (3):
        for j in range(4,7):
            print("*",end = " ")
        print()

* * *
* * *
* * *

In [13]:
for i in range (3):
        for j in range(4,7):
            print(i,end = " ")
        print()

0 0 0
1 1 1
2 2 2

In [14]:
for i in range (3):
        for j in range(4,7):
            print(i,j,end = " ")
        print()

0 4 0 5 0 6
1 4 1 5 1 6
2 4 2 5 2 6

In [4]:
for i in range(3):
    print(i, "111")
    print(i, "22")

0 111
0 22
1 111
1 22
2 111
2 22

In [5]:
for i in range(3):
    print("******")

******
******
******

In [6]:
for i in range (1,3):
    for j in range(2):
        print(i)

1
1
2
2

In [12]:
for i in range (1,3):
    for j in range(2):
        print(j)

0
1
0
1

In [11]:
for i in range (1,3):
    for j in range(2):
        print(j, end=" ")
    print()

0 1
0 1

In [13]:
for i in range (1,3):
    for j in range(2):
        print(j, end=" ")

0 1 0 1

In [16]:
for i in range (1,3):
    for j in range(2):
        print("*", end=" ")
    print()

* *
* *

In [17]:
for i in range (1,3):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *

In [18]:
k=1
for i in range (1,3):
    for j in range(i):
        print(k, end=" ")
        k=k+1
    print()

1
2 3

Q1)print- 123
          123
          123
          
Q2)print- 111
          111
          111
          
Q3)print- 123
          456
          
Q4)print- 1
          23
          456
          
Q5)print- 6
          66
          666
          6666
          
Q6)print- 111
          111
          111
          
          
Q7)print- *
          **
          ***
          ****

In [24]:
#Q1
for i in range (2):
    print("123")

123
123

In [25]:
Q2
for i in range (2):
    print("111")

111
111