In [7]:
te = ()
t = (1, "two", 3)
print(t)
t[0] #gives the zeroth element
t + (7,8)

(1, 'two', 3)

(1, 'two', 3, 7, 8)

In [8]:
import statistics 
l = []
x = int(input("Enter number of elements: "))
for i in range (int(x)):
    y = int(input("Enter your number: "))
    l.append(y)
m=statistics.mean(l)
print(l)
print(m)

Enter number of elements: 2
Enter your number: 5
Enter your number: 10
[5, 10]
7.5

In [1]:
#to find common elements in two tupples
t1 = (1,2,23,42)
t2 = (1,2,65,6,4)
x = set(t1)
y = set(t2)
if x&y:
    print("Common elements are:", x&y)
else:
    print("no common elements")

Common elements are: {1, 2}

In [2]:
#list are mutable
l = [1,2,3]
l[0] = 59
for i in l:
    print(i+5)
print(l, "is the new list")
length = len(l)                                         
#iterate list elements using index
for j in range (length):
    l[j]=l[j]+5
print(l,"new list")

64
7
8
[59, 2, 3] is the new list
[64, 7, 8] new list

In [1]:
#lists of name
names = ['Kavya', 'Sidharth', 'Deepak', 'Rinku']
names.append('Shiv')
names.sort() #arranges alphabetically
print(names)

['Deepak', 'Kavya', 'Rinku', 'Shiv', 'Sidharth']

In [3]:
#create an empty set
s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(3)#3 will be added only once
s.remove(2)
print(s)
print(f"This set has {len(s)} elements")

{1, 3, 4}
This set has 3 elements

In [4]:
for i in [0, 1, 2, 3, 4, 5]:
    print(i)

0
1
2
3
4
5

In [6]:
names = ['Kavya', 'Sidharth', 'Deepak', 'Rinku']
for name in names:
    print(name)

Kavya
Sidharth
Deepak
Rinku

In [7]:
name = "Henry"
for characters in name:
    print(characters)

H
e
n
r
y

In [8]:
houses = {"Kavya": "Delhi", "Sid": "Amherst"}
print(houses["Kavya"])

Delhi

In [2]:
houses = {"Kavya": "Delhi", "Sid": "Amherst"}
houses['Shiv'] = "Amherst"
print(houses["Shiv"])

Amherst

In [3]:
def square(x): #def is define
    return x*x
for i in range(10):
    print(f"The square of {i} is {square(i)}")

The square of 0 is 0
The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81

In [2]:
#lists
marks = [90,80]
#marks = [] for empty list
#marks = list() for empty list
print(marks[0]) #individual element
print(marks) #access complete ist
for i in marks:
    print("elements of the list are", i)

90
[90, 80]
elements of the list are 90
elements of the list are 80

In [2]:
#empty list and list using user input
l = []
l = list()
l.append(8)
for i in range (2):
    x = int(input("Enter a number: "))
    l.append(x)
print(l)
print(8 in l)

Enter a number: 24
Enter a number: 23
[8, 24, 23]
True

In [6]:
x = [1,2]
print(1 not in x)

False

Similarity between list and string
1. Both are sequential data types
2. Index starts from 0 in both
Difference
list are mutable but strings not

In [3]:
"hello"+"india"

'helloindia'

In [4]:
"2"+"3"

'23'

In [5]:
2*"hello"

'hellohello'

In [7]:
[1, 2, 3]+[5, 6]

[1, 2, 3, 5, 6]

In [8]:
2*"8"

'88'

In [9]:
2*8

16

In [10]:
2*["2", 4]

['2', 4, '2', 4]

In [15]:
l = [2, 3, 4]
l[2]=5
print(l)

[2, 3, 5]

In [3]:
l = [1, 3, 12, 34, 23, 34]
l.index(34)

3

l.append(1) ----> to add one element
l.extend[(1)] ----> to add multiple elements passed as list
l.insert(0, "A") ----> (position, element)

In [2]:
l = [1, 3, 12, 34, 23, 34]
l.append([2, 3])
print(l)
#l.append(2, 3) then it will give type error

[1, 3, 12, 34, 23, 34, [2, 3]]

In [4]:
l = [1, 3, 12, 34, 23, 34]
l.extend([2, 3])
print(l)
#l.extend(2, 3) then it will give type error

[1, 3, 12, 34, 23, 34, 2, 3]

In [21]:
l = [1, 3, 12, 34, 23, 34]
l.extend([[2, 3], ["a", "b"]]) #take care 2 []
print(l)

[1, 3, 12, 34, 23, 34, [2, 3], ['a', 'b']]

In [22]:
l = [1, 3, 12, 34, 23, 34]
l.insert(0,43) #add that value to that position
print(l)

[43, 1, 3, 12, 34, 23, 34]

pop is to delete element from index(position)
remove is to remove a given value
clear to remove all the elements from the list

In [25]:
l = [1, 3, 12, 34, 23, 34]
l.pop(2)# here 12 is deleted as it is in 2nd position 
print(l)

[1, 3, 34, 23, 34]

In [27]:
l = [1, 3, 12, 34, 23, 34, 3]
l.remove(3)#removes the digit 3 (1st 3 only)
print(l)

[1, 12, 34, 23, 34, 3]

In [34]:
l = [1, 3, 12, 34, 23, 34]
l.clear()
print(l)

[]

In [1]:
l = [1, 3, 12, 34, 23, 34]
print(l.count(34)) #count number of 34s like here 2
print(l)

2
[1, 3, 12, 34, 23, 34]

In [5]:
l = [1, 3, 12, 34, 23, 34]
l.reverse() #the list gets reversed
print(l)

[34, 23, 34, 12, 3, 1]

In [35]:
l = [1, 3, 12, 34, 23, 34]
l.sort() #change in ascending
print(l)

[1, 3, 12, 34, 23, 34]

In [46]:
l = [1, 3, 12, 34, 23, 34]
l.sort(reverse = True) #to change in descending
print(l)

[34, 34, 23, 12, 3, 1]

In [43]:
l = 1,2,3
type(l)

tuple

In [16]:
l = [11, 2, 34, 5, 6]
print(l[1:3]) #in lists like we can give start index and end index
#soln-- [2,34]

[2, 34]

In [15]:
l = [11, 2, 34, 5, 6]
print(l[0:3:1]) #[start index, end index, step(default step is 1)]
#soln-- [11, 2, 34]

[11, 2, 34]

In [14]:
l = [11, 2, 34, 5, 6]
print(l[:3:2])
#soln--[11,34]

[11, 34]

In [13]:
l = [11, 2, 34, 5, 6]
print(l[1:])
#soln-- [2, 34, 5,6]

[2, 34, 5, 6]

In [12]:
l = [11, 2, 34, 5, 6]
print(l[::2]) #no start then 0 index no end go till last
#soln-- [11, 34, 6]

[11, 34, 6]

In [17]:
l = [11, 2, 34, 5, 6]
print(l[::])
#soln--[11, 2, 34, 5, 6]

[11, 2, 34, 5, 6]

In [19]:
l = [11, 2, 34, 5, 6]
print(l[:2])

[11, 2]

In [5]:
l = [11, 2, 34, 5, 6]
print(l[::-1]) #reverse
#soln--[6, 5, 34, 2, 11]

[6, 5, 34, 2, 11]

In [9]:
l = [11, 2, 34, 5, 6]
print(l[1:0:1])#non reachable index

[]

In [16]:
l = [11, 2, 34, 5, 6]
print(l[::-1])

[6, 5, 34, 2, 11]

# Tuple

Tupple are immutable irrespective of lists, which are mutable
Slicing works in the same manner with tupple and string as is with list

T=()  EMPTY TUPLE
T= tuple()

In [18]:
t = (2,3,4)
t[0]

2

In [1]:
t = tuple([1, 2, "r"])
print(t)
#soln --- (1,2,r)

(1, 2, 'r')

In [2]:
t = tuple(input("Enter tupple: "))
print(t)
#soln--- 'a','b',3
# ['a', 'b', 3]

Enter tupple: 234
('2', '3', '4')

In [1]:
 t = eval(input("Enter tuple : "))
print(t)
#soln --- 'a','b',3
# ('a', 'b', 3)

Enter tuple : 'a', 'b', 3
('a', 'b', 3)

In [5]:
(1,2,3)+(4,5,6)
#soln --- (1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

2*(12,23) (12,23,12,23)--replication

In [8]:
#traverse elements
t = (1, 2, 3, 44, 32, 43)
for a in t:
    print(a, end=" ")

1 2 3 44 32 43

In [9]:
#functions
t = (1, 2, 3, 4)
print(len(t))

4

In [9]:
#to find greatest number
l = [1, 2, 3, 45, 23, 31, 12]
l.sort()
print(l[len(l)-1])

45

In [3]:
l = [1, 2, 3, 45, 23, 31, 12]
p = max(l)
print(p)

45

In [28]:
#to find greatest number using loop
l = [1, 2, 3, 45, 23, 31, 12]
ele = l[0]
for i in l:
    if ele < i:
        ele = i
print(ele)

45

In [35]:
l = [1, 1, 2, 2, 3]
ele = l[0]
for i in l:
    if ele == i:
        l.remove(ele)
    elif ele>i:
        ele=i
    else:
        ele=i
print(l)

[1, 2, 3]

In [55]:
l = [1, 1, 2, 2, 3]
ele = l[0]
for i in l:
    if ele == i:
        l.remove(i)
    else:
        ele=i
print(l)

[1, 2, 3]

In [3]:
l = [1, 2, 3]
del l[1] #delete the indexed function
print(l)

[1, 3]

In [6]:
x = [10, 20, 30, 40]
del x[0:2]
print(x)

[30, 40]

In [5]:
l = [4,5,6]
x = l #to copy a list
print(x)

[4, 5, 6]

In [6]:
l = [4,5,6]
x = l.copy() #to copy a list
print(x)

[4, 5, 6]

In [8]:
print("-".join("hello kavya"))

h-e-l-l-o- -k-a-v-y-a

In [10]:
print("-".join(["hello", "kavya"]))

hello-kavya

In [12]:
print(len([None]*10))
print([None] * 10)

10
[None, None, None, None, None, None, None, None, None, None]

In [16]:
x = ["PYnative",[4,8,12,16]]
print(x[0][3])
print(x[0][4])

a
t

In [5]:
# to check if all the entered numberss are same
x = eval(input("Enter a tupple: "))
p = len(x)
num = x.count(x[0])
if num == p:
    print("Tupple contains all the same element.")
else:
    print("Tupple contains different elements.")

Enter a tupple: 23, 23, 23
Tupple contains all the same element.

In [7]:
#sorted arranges in ascending order like sort difference is that sort can only work in list while sorted works in all data types
x = (2, 27,71, 1, 23)
p = sorted(x)
print(p)

[1, 2, 23, 27, 71]